{% extends '../base.html' %}

{% block content %}
	<div class="container form-group">
		<div class="col-xs-7 col-md-offset-2">
			<form method="POST" class="form-group">
				<fieldset>
					<legend>Cadastro de Cargos</legend>

					{% csrf_token %}

					{% bootstrap_form form %}

					{% bootstrap_button "Cadastrar" button_type="submit" button_class="btn-default" %}
					<a href="{% url 'dashboard' %}">{% bootstrap_button "Voltar" button_type="button" button_class="btn-default" %}</a>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
