{% extends 'members/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
				</tr>
			</thead>

			<tbody>
				{% for actuation in actuations %}
					<tr>
						<td>{{actuation.name}}</td>
						<td>{{actuation.description}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}