{% extends 'members/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	<nav class="col-sm-3" id="myScrollspy">
		<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
			<li><a href="#" title="Essa função ainda está não implementada. :("><span class="glyphicon glyphicon-search"></span> Buscar</a></li>

			<li><a href="{% url 'dashboard' %}" title="Dashboard"><span class="	glyphicon glyphicon-th"></span> Dashboard</a></li>

			<li><a href="{% url 'add_extras' %}" title="Deseja adicionar mais instituições, cargos, atuações ou especialidades? Clique aqui."><span class="glyphicon glyphicon-plus"></span> Adicionar</a></li>
			
			<li><a href="{% url 'view_extras' %}" title="Clique para ver instituições, cargos, atuações e especialidades."><span class="glyphicon glyphicon-eye-open"></span> Visualizar</a></li>

			<li><a href="#" title="Essa função ainda não está implementada. :("><span class="glyphicon glyphicon-file"></span> Gerar Relatórios</a></li>
		</ul>
	</nav>
	
	<div class="space"></div>
	
	<div class="container col-md-offset-3">
		<div class="row">
			<div class="col-md-3 add_extras"><a href="{% url 'add_instituition' %}">Adicionar Instituições</a></div>
			<div class="col add_extras"><a href="{% url 'add_position' %}">Adicionar Cargos</a></div>
			<div class="w-100"></div>
			<div class="col-md-3 add_extras"><a href="{% url 'add_actuation' %}">Adicionar Atuações</a></div>
			<div class="col add_extras"><a href="{% url 'add_specialty' %}">Adicionar Especialidades</a></div>
		</div>
	</div>
{% endblock %}