{% extends 'members/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-striped table-hover table-condensed">
			 <caption class="text-center">Instituições</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>

			<tbody>
				{% for instituition in instituitions %}
					<tr>
						<td>{{instituition.id}}</td>
						<td>{{instituition.name}}</td>
						<td>{{instituition.description}}</td>
						<td><a href="{% url 'instituition_edit' pk=instituition.id %}">{% bootstrap_button "Editar" button_type="button" button_class="btn-default" %}</a></td>
						<td><a href="{% url 'instituition_remove' pk=instituition.id %}">{% bootstrap_button "Remover" button_type="button" button_class="btn-default" %}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<a href="{% url 'add_instituition' %}">{% bootstrap_button "Voltar" button_type="button" button_class="btn-default col-md-offset-10" %}</a>
	</div>
{% endblock %}