{% extends 'members/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	<div class="col-md-6">
		<table class="table table-striped">
			 <caption>Instituições</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Descrição</th>
				</tr>
			</thead>

			<tbody>
				{% for instituition in instituitions %}
					<tr>
						<td>{{instituition.id}}</td>
						<td>{{instituition.name}}</td>
						<td>{{instituition.description}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{% url 'dashboard' %}" class="back">{% bootstrap_button "Voltar" button_type="button" button_class="btn-default right" %}</a>
	</div>
{% endblock %}