{% extends 'members/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	<div class="col-md-6">
		<table class="table table-striped">
			<caption>Especialidades</caption>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Descrição</th>
				</tr>
			</thead>

			<tbody>
				{% for specialty in specialties %}
					<tr>
						<td>{{specialty.id}}</td>
						<td>{{specialty.name}}</td>
						<td>{{especialty.description}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}