.nav-login .container-fluid .navbar-header .navbar-brand, .nav-login .container-fluid ul li a {
	color: #fff;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

div form h2 {
	text-align: center;
	color: #aaa;
}

#myScrollspy ul li a{
	color: #000;
	background-color: #eee;
}

.space {
	padding-top: 200px;
}

.add_extras, .view_extras {
	background-color: #aaa;
	width: 600px;
	height: 50px;
	border: 1px solid #fff;
	text-align: center;
	padding-top: 12px;
}

.add_extras:hover, .view_extras:hover, .dashboard:hover {
	background-color: #c1c1c1;
} 

.dashboard {
	background-color: #aaa;
	width: 600px;
	height: 50px;
	border: 1px solid #fff;
	text-align: center;
	padding-top: 12px;
}

.dashboard a, .dashboard a:hover, .dashboard a:active, .add_extras a, .add_extras a:hover, .add_extras a:active, .view_extras a, .view_extras a:hover, .view_extras a:active  {
	color: #fff;
	text-decoration: none;
}

.about {
	padding-top: 40px;
}